@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --cor-primaria: #395144;
    --cor-secundaria: #AA8B56;
    --cor-terciaria: #F0EBCE;
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

a:hover {
    color: #F0F0F0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-terciaria);
    font-family: 'Nunito', sans-serif;
    color: var(--cor-primaria);
}

.cabecalho {
    padding: 2% 5% 2% 5%;
    display: flex;
    justify-content: space-around;
    background-color: var(--cor-primaria);
    border-radius: 1.25rem 1.25rem 0 0;
}

.cabecalho__link {
    display: flex;
    align-items: center;
    gap: 1.875rem;
}

.cabecalho__link__links {
    text-decoration: none;
    color: var(--cor-terciaria);
    font-size: 1.25rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown__content {
    display: none;
    position: absolute;
    background-color: var(--cor-secundaria);
    box-shadow: 0 0.5 1rem 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown__content a {
    color: var(--cor-terciaria);
    padding: 0.75rem 1rem;
    text-decoration: none;
    display: block;
}

.dropdown__content a:hover {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
}

.dropdown:hover .dropdown__content {
    display: block;
}

.dropdown:hover .dropdown .cabecalho__link__links {
    background-color: #3E8E41;
}

.cabecalho__imagens {
    max-height: 5rem;
    height: auto;
    width: auto;
}

.meio__logo {
    background-color: var(--cor-secundaria);
    padding: 5% 0;
    text-align: center;
    font-size: 1.25rem;
}

.meio__apresentacao {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 10%;
}

.meio__apresentacao__texto {
    padding: 1% 10% 1% 0;
    font-size: 1.5rem;
    text-align: justify;
}

.rodape {
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    text-align: center;
    padding: 2% 0;
    border-radius: 0 0 1.25rem 1.25rem;
}

@media (max-width:600px) {

    .cabecalho {
        flex-wrap: wrap;
        justify-content: center;
    }

    .cabecalho__link__links{
        font-size: 1rem;
    }

    .dropdown:hover .dropdown__content {
        display: hidden;
    }

    .cabecalho__imagens {
        max-width: 3rem;
        width: auto;
        height: auto;
        padding: 1rem 0 0 0;
    }

    .meio__logo {
        font-size: 1rem;
    }

    .meio__apresentacao {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .meio__apresentacao__texto {
        font-size: 1rem;
        padding: 1% 0 10% 0;
    }

    .meio__apresentacao__imagem {
        max-width: 15rem;
        width: auto;
        height: auto;
    }

    .rodape {
        font-size: 0.7rem;
    }

    #rodape__index {
        margin-top: 20%;
    }
}

/* about css */

.meio__sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15.45% 10%;
}

.meio__sobre__texto {
    font-size: 1.5rem;
    text-align: center;
}

@media (max-width:600px) {

    .meio__sobre {
        padding: 15% 5% 5% 5%;
    }

    .meio__sobre__texto {
        font-size: 1rem;
        text-align: justify;
    }

    #rodape__about {
        margin-top: 100%;
    }
}

/* products css */

.meio__produtos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 5% 0 5%;
}

.meio__produtos__texto {
    text-align: center;
    padding: 5% 0 2% 0;
    font-size: 2.25rem;
}

.meio__produtos__categorias {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 5% 10% 5%;
}

.meio__produtos__imagens:hover {
    background-color: #F0F0F0;
}

.meio__produtos__imagens {
    padding: 3%;
    text-align: center;
    border: 0.125rem solid var(--cor-secundaria);
    border-radius: 25%;
    margin: 2%;
}

#botao {
    position: fixed;
    bottom: 1.25rem;
    right: 1.875rem;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--cor-secundaria);
    color: #f0f0f0;
    cursor: pointer;
    padding: 1.1%;
    border-radius: 15%;
    font-size: 1.125rem;
}
  
#botao:hover {
    background-color: #302e2e;
}

@media (max-width:600px) { 

    .meio__produtos__categorias {
        flex-direction: column;
        gap: 1rem;
    }

    .meio__produtos__texto {
        font-size: 2rem;
    }

    figure img {
        max-width: 5rem;
    }

    figure figcaption {
        font-size: 0.7rem;
        padding: 0 1% 0 1%;
    }

}

/* contact css */

.meio__contato {
    padding: 5% 0 5% 0%;
    font-weight: bold;
}

.meio__contato a {
    display: flex;
    justify-content: center;
}

.meio__contato__texto__1 {
    font-size: 1.375rem;
    font-weight: bolder;
    font-style: italic;
    padding: 0% 0 2% 0;
    text-align: center;
}

.meio__contato__texto__2 {
    color: black;
    text-align: center;
}

.meio__contato__texto__3 {
    text-align: center;
}

.meio__contato__texto__4 {
    text-align: center;
    padding: 2% 0 0 0;
}

.meio__contato__imagens {
    max-width: 3.125rem;
    width: auto;
    height: auto;
    padding: 0.5% 0 0 0;
}

@media (max-width:600px) {
    .meio__contato {
        padding: 20% 0 0 0;
    }

    #rodape__contact {
        margin-top: 50%;
    }

    .meio__contato__texto__1 {
        padding: 0 0 10% 0;
    }

    .meio__contato__texto__4 {
        padding: 10% 0 0 0;
    }
}